@if (TechItem is null)
{
    return;
}
@if (TechItem.Source is null)
{
    <div>
        No xml
    </div>
    return;
}
<BorderedTechComponent>
    <h3>
        @TechItem.Level.ToString()
    </h3>
    <pre style="overflow: auto">
        @TechItem.Source.ToString()
    </pre>
    <TechValuePairEditorComponent CanEdit=true Pairs="TechItem.Values" />
</BorderedTechComponent>