@typeparam T
@if (Techs.Count == 0)
{
    return;
}
<div style="font-weight: bold">
    @DisplayName()
</div>
@{
    foreach (var item in Techs)
    {
        <BorderedTechComponent>
            <div>
                @item.Title
            </div>
            <div>
                @item.Description
            </div>
            <TechValuePairEditorComponent CanEdit=CanEdit Pairs="item.Values" />
        </BorderedTechComponent>
    }
}