<div style="margin: 2px;">
    <StackLayout ItemSpacing="5px">
        <StackItem Length="1fr" Style="@Width">
            @FirstColumnContent
        </StackItem>
        <StackItem Length="1fr" Style="@Width">
            @SecondColumnContent
        </StackItem>
        <StackItem Length="1fr" Style="@Width">
            @ThirdColumnContent
        </StackItem>
        @if (FourthColumnContent is null)
        {
            return;
        }
        <StackItem Length="1fr" Style="@Width">
            @FourthColumnContent
        </StackItem>
    </StackLayout>
</div>