@typeparam T
<SelectableComponent ColumnWidth="300px" OnSelected=OnSelected Context="item" ItemList="TechList">
    <div>
        @item.Title
    </div>
    <div>
        @item.Description
    </div>
</SelectableComponent>