@foreach (var pair in Pairs)
{
    <div style="height: 30px;">
        @if (CanEdit == false)
        {

            @pair.OriginalValue
        }
        else
        {
            <TextComponent @bind-Value="pair.ModifiedValue" />
        }
    </div>
}